<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EbayTestsSuite" verbose="1">
    <test name="HomePageTests">
        <classes>
            <class name="com.ebay.HomePage"/>
        </classes>
    </test>
    <test name="SearchForItemTests">
        <classes>
            <class name="com.ebay.SearchForItem"/>
        </classes>
    </test>
    <test name="SignInTests">
        <classes>
            <class name="com.ebay.SignIn"/>
        </classes>
    </test>
</suite>
